%section.help
  .callIncludes
    .iconIncludes
      = image_tag "icon_appointment@2x.png", :width => "115px"
    %h2 HELP IS ON THE WAY!
    %p
      Your message is headed towards one of Customer Care
      Specialists now. We'll get back to you within one business day
      (and probably much quicker than that).
    %p
      Thanks for contacting us -- we'll help you get your issue
      resolved ASAP.
  .right
    = image_tag "footer-logo.png", :width => "29px", :height => "27px"