%section.recordingsbodytable.row
	No Record Found
%section.tfoot.row
	%section.col1 TOTALS
	%section.col2 &nbsp;
	%section.col3 $0.00
	%section.col4 &nbsp;
	%section.col5 $0.00
	%section.col6 $0.00
	%section.col7 $0.00
	%section.col7 $0.00
	