%tr
  %td{:style => "height:55px; line-height:0; font-size:0;"}
%tr
  %td{:style => "height:2px; line-height:0; font-size:0;"}
    %img{:alt => "", :src => "#{APP_CONFIG['image_url']}botted_line.jpg"}/
%tr
  %td{:style => "height:60px; line-height:0; font-size:0;"}