%tr
  %td{:align => "center", :style => "background:#000000; height:75px; text-align:center"}
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:800px; height:75px; margin:0 auto;"}
      %tr
        %td{:style => "text-align:left;"}
          %a{:href => "http://www.yestrak.com"}
            %img{:alt => "", :src => "#{APP_CONFIG['image_url']}yestrak-logo-email-new.png", :width => "175"}/