%tr
  %td{:align => "center", :style => "background:#A1C53E; height:75px; text-align:center"}
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:800px; height:75px; margin:0 auto;"}
      %tr
        %td{:style => "text-align:left;"}
          %a{:href => "http://www.yestrak.com"}
            %img{:alt => "", :src => "#{APP_CONFIG['image_url']}/partners/yestrak-logo-partner-email.png", :width => "175"}/