%tr
  %td{:style => "height:25px; line-height:0; font-size:0;"}
%tr
  %td{:style => "font:italic 12px Arial, Helvetica, sans-serif; color:#848485;"}
    You’re receiving this message because you have an active account with YesTrak. Click here to
    %a{:href => "#", :style => "text-decoration:underline; color:#848485;"} UNSUBSCRIBE.
%tr
  %td{:style => "height:15px; font-size:0; line-height:0;"}
%tr
  %td{:style => "font:italic 12px Arial, Helvetica, sans-serif; color:#848485;"}
    Vizicall, LLC, 1 Meadowlands Plaza, Suite 200, East Rutherford, New Jersey 07073-2152, United States
%tr
  %td{:style => "height:30px; font-size:0; line-height:0;"}


