%section.columns.clearfix
  %section.column.col-12
    %ul.dateRange
      %li Date Range:
      %li
        = collection_select(:search, :date, CustomFilter::DATE_RANGE, :first, :last, :include_blank => 'All', :selected => params[:search] && params[:search][:date])
        %input#search_date_from{name: "search[date_from]", type: "hidden"}/
        %input#search_date_to{name: "search[date_to]", type: "hidden"}/
      %li
        = link_to 'Custom Range', daterange_selector_notifications_path, remote: 'true', class: 'view fancybox fancybox.ajax'